<section class="text-bg-dark">
    <div class="row justify-content-center">
        <div class="text-dark text-justify text-center p-3 col-12 " style="background-color: #f8b201 ;">
            <h2 class="fw-bold"> <i class="bi bi-door-open-fill"></i> LOGUEO </h2>
        </div>
        <div class="p-3 col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

            <form class="mx-1 mx-md-4">
                <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" class="form-control" />
                        <label class="form-label" for="form3Example1c">Email</label>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control" />
                        <label class="form-label" for="form3Example3c">Password</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" style="background-color: #f8b201 ;"
                        class="btn btn-dark btn-lg">Enviar</button>
                </div>
                <!-- Register buttons -->
                <div class="text-center">
                    <p>No sos miembro? <a href="#!">Registrate</a></p>
                </div>
            </form>
        </div>
    </div>
</section>