<div class="container px-4">
    <div class="row gx-5">
        <div class="center text-center p-3 text-bg-dark col-12 col-sm-12 col-md-6 col-xl-6">
            <img src="../../../assets/asd2.jpg" class="img-fluid " style="width: 200px; border-radius: 50px;" />
        </div>
        <div class="p-3 text-bg-dark col-12 col-sm-12 col-md-6 col-xl-6 fw-bold">

            <div class="list-group p-3  align-items text-start ">
                <li class="list-group-item text-bg-dark"> <i class="bi bi-envelope-exclamation" style="color: red;"></i>
                    Alexis
                    Ezequiel
                    More
                </li>
                <li class="list-group-item text-bg-dark"><i class="bi bi-calendar" style="color: red;"></i> 27/10/1986
                </li>
                <li class="list-group-item text-bg-dark"><i class="bi bi-map" style="color: red;"></i> Congreso, CABA
                </li>
                <li class="list-group-item text-bg-dark">
                    <i class="bi bi-code" style="color: red;"></i> FULL STACK JR.

                </li>
            </div>
        </div>
        <div class="text-dark text-justify text-center p-3 col-12 " style="background-color: #f8b201 ;">
            <h2> <b><i class="bi bi-building"></i> Experiencia Previa</b> </h2>
        </div>

        <div class="card p-3 text-justify text-center text-bg-dark col-12 col-sm-12 col-md-6 col-xl-3">
            <div class="card-body">
                <h3 class="card-title text-danger fw-bold">Mensajero</h3>
                <p class="card-text">
                <h4 class="fw-bold">NEWS MAIL</h4>

                <span>Recorria toda CABA en bici para trasladar inutiles pedazos de
                    papel.
                    Hice este laburo hasta que senti que tenia que irme o me iba a tirar contra el proximo colectivo que
                    me encontrara.</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <h5>[2007-2008]</h5>
                </small>
            </div>
        </div>
        <div class="card p-3 text-justify text-center text-bg-dark col-12 col-sm-12 col-md-6 col-xl-3">
            <div class="card-body">
                <h3 class="card-title text-danger fw-bold">Encuestador</h3>
                <p class="card-text">

                <h4 class="fw-bold">ANALOGIAS S.R.L.</h4>
                <span>Recorria guias telefonicas rompiendole las bolas a la gente
                    preguntandole cosas superfluas como a quien votaria si Pratt Gay no fuera hetero.
                    Hice este trabajo hasta que senti que tenia que irme o me iba a ahorcar con la cuerda del
                    telefono.</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <h5>[2008-2009]</h5>
                </small>
            </div>
        </div>
        <div class="card p-3 text-justify text-center text-bg-dark col-12 col-sm-12 col-md-6 col-xl-3">
            <div class="card-body">
                <h3 class="card-title text-danger fw-bold">Servicio Tecnico</h3>
                <p class="card-text">
                <h4 class="fw-bold">NOKIA REPAIR</h4>
                <span>Recorria cajas enteras llenas de telefonos rotos tratandod e
                    arreglarlos y refurbishearlos para
                    revender.
                    Hice este trabajo hasta que senti que tenia que irme o me iba a
                    inmolar en la oficina de la gallega de mierda que estaba a cargo de la fabrica.</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <h5>[2010-2010]</h5>
                </small>
            </div>
        </div>
        <div class="card p-3 text-justify text-center text-bg-dark col-12 col-sm-12 col-md-6 col-xl-3">
            <div class="card-body">
                <h3 class="card-title text-danger fw-bold">SQL sSR</h3>
                <p class="card-text">
                <h4 class="fw-bold"> MDS </h4>
                <span>Recorro tramites de gente pobre hasta que obtienen su preciados
                    beneficios.
                    Hago este trabajo a pesar de que me gustaria prender fuego el ministerio.</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <h5>[2010-ACTUALIDAD]</h5>
                </small>
            </div>
        </div>
        <div class="text-dark text-justify text-center p-3 col-12 " style="background-color: #f8b201 ;">
            <h2> <b><i class="bi bi-bar-chart-steps"></i> Habilidades</b> </h2>
        </div>
        <div class="card  p-3 text-justify text-center text-bg-dark col-12 col-sm-12 col-md-6 col-xl-6">
            <div class="card-body">
                <h3 class="card-title text-danger fw-bold"><b><i class="bi bi-translate"></i> Inglés</b></h3>
                <p class="card-text">
                <div class="list-group">
                    <b>
                        <li class="list-group-item text-bg-dark">
                            <div class="progress" style="height: 25px;">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Warning example"
                                    style="width: 60%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Escrito
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-bg-dark">
                            <div class="progress" style="height: 25px;">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Warning example"
                                    style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Hablado
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-bg-dark">
                            <div class="progress" style="height: 25px;">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Warning example"
                                    style="width: 85%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Lectura
                                </div>
                            </div>
                        </li>
                    </b>
                </div>
            </div>
        </div>
        <div class="card  p-3 text-justify text-center text-bg-dark col-12 col-sm-12 col-md-6 col-xl-6">
            <div class="card-body">

                <h3 class="card-title text-danger fw-bold"><b><i class="bi bi-code-square"></i> Programación</b></h3>

                <p class="card-text">
                <div class="list-group">
                    <b>
                        <li class="list-group-item text-bg-dark">
                            <div class="progress" style="height: 25px;">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Warning example"
                                    style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">SQL
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-bg-dark">
                            <div class="progress" style="height: 25px;">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Warning example"
                                    style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    Python/Django
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-bg-dark">
                            <div class="progress" style="height: 25px;">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Warning example"
                                    style="width: 35%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    AngularCLI
                                </div>
                            </div>
                        </li>
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h1 class="mb-5 mt-5"> Linear Progress Bar</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="progress-title">HTML</h3>
            <div class="progress">
                <div class="progress-bar" style="width:65%; background:#97c513;">
                    <div class="progress-value">65%</div>
                </div>
            </div>
            <h3 class="progress-title">CSS</h3>
            <div class="progress">
                <div class="progress-bar" style="width:100%; background:#f2545b;">
                    <div class="progress-value">100%</div>
                </div>
            </div>
            <h3 class="progress-title">JAVASCRIPT</h3>
            <div class="progress">
                <div class="progress-bar" style="width:75%; background:#4286f4;">
                    <div class="progress-value">75%</div>
                </div>
            </div>
            <h3 class="progress-title">BOOTSTRAP</h3>
            <div class="progress">
                <div class="progress-bar" style="width:30%; background:#21ff63;">
                    <div class="progress-value">30%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>