<div class="container">
    <div class="wrapper">
        <div class="box g img-fluid" style="overflow:scroll ;"><img src="../../../assets/asd2.jpg "></div>
        <div class="box g ">
            <h5>SOBRE MI:</h5>
            <p>Soy tremendo capo, incluso rober el codigo necesario
                para armar este grid que se auto ordena segun el
                tamaño del dispositivo.Y mira esa foto papa, re capo.</p>
        </div>
        <div class="box a">
            <h5>Mensajero@NEWS MAIL [2007-2008]</h5>
            <p>Recorria toda CABA en bici para trasladar inutiles pedazos de papel, hice este laburo hasat que senti que
                tenia que irme o me iba a tirar
                contra el proximo colectivo que me encontrara.</p>
        </div>
        <div class="box a">
            <h5>Encuestador@ANALOGIAS [2008-2009]</h5>
            <p>Recorria guias telefonicas rompiendole las bolas a la gente preguntandole cosas superfluas como quien
                votaria si pratt gay no fuera hetero, hice este trabajo hasta que senti que tenia que irme o me iba a
                ahorcar con la cuerda del telefono.</p>
        </div>
        <div class="box a">
            <h5>Service Reparacion@NOKIA TRUCHO [2010-2010]</h5>
            <p>Recorria cajas enteras llenas de telefonos rotos tratandod e arreglarlos y refurbishearlos para revender,
                hice este trabajo hasta que senti que tenia que irme o me iba a
                inmolar en la oficina de la gallega de mierda que estaba a cargo de la fabrica.</p>
        </div>
        <div class="box a">
            <h5>SQL.SR@MDS [2010-ACTUALIDAD]</h5>
            <p>Recorro tramites de gente pobre hasta que obtienen su preciados beneficios, hago este trabajo a pesar de
                que me gustaria prender fuego el ministerio.</p>
        </div>
    </div>
</div>